.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h2.logo a {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h2.logo a:hover {
	color: deeppink;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

#about:hover {
	color: lawngreen;
}

#contact:hover{
    color: crimson;
}

#locations:hover{
    color: aqua;
}

#facebook:hover{
    color: #3b5998;
}

#twitter:hover{
    color: #4099FF;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: -40px;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 18px;
    text-transform: uppercase;
	color: #00A26B;
	width: 110px;
	height: 60px;
	border-radius: 3px 0 0 3px;
	opacity: .9;
	line-height: 40px;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: deeppink;
    -webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle i span{
    font-family: 'Raleway', sans-serif;
		font-weight: 700;
}
.herospace{
    background-image: url(../img/bg.png);
    background-position: center center;
    background-size: cover;
    color: white;
    padding-bottom: 20px;
    min-height: 450px;
}

.headerlogo img{
    margin: 20px 0 20px 0;
		max-height: 50px;
}

.mainlogo img{
	max-height: 200px;
	margin: 0 auto;
}

.mainlogo h1{
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.maininfo p{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
		font-weight: 400;
}

.maininfo{
    clear: both;
    float: none;
    margin: 0 auto;
}

.herobuttons .btn{
    font-family: 'Lato', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
    -webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.herobuttons{
  margin: 0 auto;
}

.herobuttons li{
  display: inline-block;
	list-style: none;
}

.herobuttons .btn-success{
	background-color: #00A26B;
	border: solid 1px #fff;
	height: 50px;
	width: 150px;
	margin-top: 20px;
	margin-left: -30px;
	-webkit-transition: all .3s ease-in-out;
		 -moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			 -o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
}

.herobuttons .btn-success:hover{
	background-color: #fff;
	color: #00A26B;
	border: 1px solid #00A26B;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(187,187,187,.6);
		 -moz-box-shadow: 0px 4px 4px 0px rgba(187,187,187,.6);
					box-shadow: 0px 4px 4px 0px rgba(187,187,187,.6);
	-webkit-transition: all .3s ease-in-out;
		 -moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
	 		 -o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
}

.herobuttons .btn-primary{
	height: 50px;
	width: 150px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #00A26B;
	color: #00A26B;
	-webkit-transition: all .3s ease-in-out;
		 -moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			 -o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
}

.herobuttons .btn-primary:hover{
	background-color: #00A26B;
	color: #fff;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(187,187,187,.6);
-moz-box-shadow: 0px 4px 4px 0px rgba(187,187,187,.6);
box-shadow: 0px 4px 4px 0px rgba(187,187,187,.6);
	-webkit-transition: all .3s ease-in-out;
		 -moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
	 		 -o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
}

.howitworks{
    margin: 40px 0 40px 0;
}

.howit-carousel{
	height: 350px;
	width: 500px;
}

.item{
    background: white;
    text-align: center;
    height: 350px;
		width: 500px;
}

.howitdescription{
    float: right;
}

.howitimg{
	float: right;
}

.howitdescription2{
	margin-top: 40px;
}

.howitdescription .btn, .howitdescription2 .btn{
    margin-top: 10px;
    background-color: #00A26B;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 18px;
    color: white;
    -webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.howitdescription .btn:hover, .howitdescription2 .btn:hover{
    background-color: #019ECE;
    -webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.howitdescription2 .howitimg{
	margin-top: 30px;
}

.acccreate{
	width: 70%;
	margin: 0 auto;
}

body{
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}

.createaccount{
	margin-bottom: 40px;
}

.social li{
	display: inline-block;
}

.social li img{
margin-top: 60px;
	height: 50px;
	fill: #fff;
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
 filter: invert(1);
}
footer{
	clear: both;
	margin-top: 20px;
	height: auto;
	background-color: #019ECE;
}

.socialbox{
	margin: 0 auto;
}

.socialbox li{
	display: inline-block;
}

.socialbox span{
		margin-left: 225px;
}

.socialbox .socialicons{
	margin: 0 auto;
}

.links{
	clear: both;
	margin-top: 20px;
}

.linksbox{
	margin: 0 auto;
}

.links li{
	display: inline-block;
}

.links li:nth-child(1){
	margin-left: 0px;
}

.links span{
	margin-left: 75px;
}

.links a{
	color: #fff;
}

.submitbtn{
	background-color: #00A26B;
	padding: 10px 15px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.submitbtn:hover{
	background-color: #fff;
	color: #00A26B;
}

.team{
	font-family: 'Lato', sans-serif;
	color: #fff;
}

.team span{
	margin-left: 20px;
}


/*Media queries*/

@media (max-width: 768px){

	.howitdescription2 .howitimg{
		margin-top: 30px;
	}

	.acccreate{
		width: 80%;
	}

	.socialbox span{
			margin-left: 110px;
	}

	.links span{
		margin-left: 60px;
	}

}

@media (max-width: 480px){


	.acccreate{
		width: 90%;
	}

	.socialbox span{
			margin-left: 80px;
	}

	.links span{
		margin-left: 30px;
	}

	.team span{
		margin-left: 3px;
	}

}
