//output:contact.html
.container 
  row
    .outerbox.col-sm-8.col-sm-offset-2
      .innerbox
        h2 Contact Us!
        .col-sm-10 
          input.form-control(placeholder="Name")
        .col-sm-10 
          input.form-control(placeholder="Email" required)
        .col-sm-6.btn.btndefault Send
